html {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 20px;
	color: #1a1a1a;
}

body {
	overflow-y: scroll;
	text-align: left;
	margin: 0;
}

a {
	color: #3b8940;
	text-decoration: none;
}

a:hover {
	color: #285c2b;
	text-decoration: underline;
}

h1, h2, h3, h4 {
	margin-bottom: 0;
	color: #9259e5;
}

p {
	margin-top: 5px;
}


/* ----------------------------------- Generic */

#wrapper {
	width: 999px;
	margin: 0 auto;
}

#wrapper #content {
	padding-top: 20px;
}

header {
	background-color: #9259e5;
	padding: 20px;
	overflow: auto;
}

header .patreon {
	float: right;
	padding-top: 7px;
}

footer {
	padding-top: 40px;
	clear: both;
}

footer #wrapper p {
	color: #666;
	text-align: right;
	font-size: 13px;
}

.overlay_text {
	display: none;

	position: absolute;
	top: 0px;
	margin-top: 10px;
	padding: 10px 0;
	width: 100%;

	font-size: 16px;
	color: #fff;
	text-align: center;
	background-color: rgba(10, 10, 10, 0.5);
}

.overlay_container:hover .overlay_text {
	display: block;
}

.overlay_container:hover img {
	filter: brightness(70%);
}

#codes .overlay_container:hover img {
	filter: brightness(100%);
	opacity: 0.7;
}


/* ----------------------------------- Homepage */

.homepage h1 {
	padding-top: 50px;
}

.homepage p {
	text-align: center;
}

.homepage .top_banner {
	text-align: center;
	padding-bottom: 20px;
}

.homepage .top_banner p {
	margin: 5px 0 0 0;
	font-size: 14px;
	color: #3e8433;
}


/* ----------------------------------- Stuff i made */

#stuffs {
	overflow: hidden;
}

.stuff {
	float: left;
	margin-left: 10px;
	position: relative;
}

.stuff img {
	margin-top: 10px;
}

#stuffs .stuff:nth-child(3n+1) {
	margin-left: 0;
	clear: both;
}

#stuffs .stuff:nth-child(n+1):nth-child(-n+3) img {
	height: 222px;
}

#stuffs .stuff:nth-child(n+4):nth-child(-n+6) img {
	height: 307px;
}

#stuffs .stuff:nth-child(n+7):nth-child(-n+9) img {
	height: 208px;
}

#stuffs .stuff:nth-child(n+10):nth-child(-n+12) img {
	height: 271px;
}


/* ----------------------------------- Code i coded */

#codes {
	overflow: hidden;
}

.code {
	position: relative;
	float: left;
	margin-left: 10px;
}

.code img {
	margin-top: 10px;
}

#codes .code:nth-child(2n+1) {
	margin-left: 0;
	clear: both;
}


/* ----------------------------------- Code i coded */

#places {
	overflow: hidden;
}

.place {
	float: left;
	margin-left: 10px;
}

.place img {
	margin-top: 10px;
}

#places .place:nth-child(3n+1) {
	margin-left: 0;
	clear: both;
}



/* ----------------------------------- Contact */

#contact p {
	text-align: left;
}


/* ----------------------------------- Detail */

.detail content {
	float: left;
	width: 48%;
}

.detail content > h1 {
	margin-top: 50px;
}

.detail aside {
	float: right;
	text-align: right;
	width: 48%;
	margin-top: 20px;
	overflow: hidden;
}

.detail aside #buttons {
	float: right;
	margin: 0 20px 10px 0;
}

.detail aside #buttons .button {
	margin-left: 15px;
}

.detail aside #buttons a {
	text-decoration: none;
}

.detail aside.no_buttons {
	margin-top: 98px;
}

.detail aside #contact {
	text-align: left;
	margin-left: 20px;
}

/* ----------------------------------- BawlSec */

.detail.bawlsec aside #gallery img,
.detail.fourohfour aside #gallery img,
.detail.aiden_six_yo aside #gallery img {
	width: 46%;
	margin: 0 10px 10px 0;
}

.detail.fourohfour aside #gallery img:nth-child(1),
.detail.aiden_six_yo aside #gallery img:nth-child(1),
.detail.bawlsec aside #gallery img:nth-child(1) {
	width: 94%;
}


/* ----------------------------------- Birthday cake */

.detail.cake aside #gallery img {
	width: 94%;
	margin: 0 0 10px 0;
}


/* ----------------------------------- Aiden 6 yo */

.detail.aiden_six_yo aside #gallery img:nth-child(2) {
	width: 38%;
}
.detail.aiden_six_yo aside #gallery img:nth-child(3) {
	width: 54%;
}


/* ----------------------------------- Responsive */

@media screen and (max-width: 999px) {

	#wrapper {
		width: 97%;
		margin: 0 auto;
	}

	.detail aside #contact {
		margin-left: 10px;
	}

	#stuffs .stuff:nth-child(n+1):nth-child(-n+3) img {
		height: 180px;
	}

	#stuffs .stuff:nth-child(n+4):nth-child(-n+6) img {
		height: 249px;
	}

	#stuffs .stuff:nth-child(n+7):nth-child(-n+9) img {
		height: 169px;
	}

	#stuffs .stuff:nth-child(n+10):nth-child(-n+12) img {
		height: 220px;
	}
}


@media screen and (max-width: 870px) {

	#places .place:nth-child(3n+1) {
		margin-left: 10px;
		clear: none;
	}

	#places .place:nth-child(2n+1) {
		margin-left: 0px;
		clear: both;
	}
}


@media screen and (max-width: 840px) {

	.homepage .top_banner img {
		width: 95%;
	}
}


@media screen and (max-width: 830px) {

	#stuffs .stuff:nth-child(n+1):nth-child(-n+3) img {
		height: 152px;
	}

	#stuffs .stuff:nth-child(n+4):nth-child(-n+6) img {
		height: 210px;
	}

	#stuffs .stuff:nth-child(n+7):nth-child(-n+9) img {
		height: 142px;
	}

	#stuffs .stuff:nth-child(n+10):nth-child(-n+12) img {
		height: 185px;
	}
}


@media screen and (max-width: 700px) {

	.detail aside #contact {
		margin-left: 0;
	}

	#stuffs .stuff:nth-child(3n+1) {
		clear: none;
		margin-left: 10px;
	}

	#stuffs .stuff:nth-child(2n+1) {
		clear: both;
	}

	#stuffs .stuff:nth-child(n+1):nth-child(-n+2) img {
		height: 190px;
	}

	#stuffs .stuff:nth-child(n+3):nth-child(-n+4) img {
		height: 221px;
	}

	#stuffs .stuff:nth-child(n+5):nth-child(-n+6) img {
		height: 260px;
	}

	#stuffs .stuff:nth-child(n+7):nth-child(-n+8) img {
		height: 170px;
	}

	#stuffs .stuff:nth-child(n+9):nth-child(-n+10) img {
		height: 198px;
	}

	#stuffs .stuff:nth-child(n+11):nth-child(-n+12) img {
		height: 254px;
	}

	#codes .code {
		clear: both;
	}

	#codes .code:nth-child(2n+1) {
		margin-left: 10px;
	}
}


@media screen and (max-width: 650px) {

	h1 {
		margin-left: 10px;
	}

	p {
		margin-left: 10px;
		margin-right: 10px;
	}

	.detail content,
	.detail aside {
		float: none;
		width: 100%;
	}

	.detail aside {
		text-align: center;
	}

	.detail content h1 {
		margin-top: 20px;
	}

	.detail aside.no_buttons {
		margin-top: 50px;
	}
}


@media screen and (max-width: 592px) {

	#stuffs .stuff {
		clear: both;
		width: 97%;
	}

	.homepage #stuffs .stuff:nth-child(1n+1) img {
		width: 98%;
		height: auto;
	}
}


@media screen and (max-width: 592px) {
	#places .place:nth-child(2n+1) {
		margin-left: 10px;
	}

	#places .place {
		clear: both;
	}
}


@media screen and (max-width: 440px) {

	header {
		text-align: center;
	}

	header img.logo {
		float: none;
	}

	header img.patreon {
		float: none;
		margin-top: 10px;
	}

	#codes .code img {
		width: 100%;
	}
}